.App {
  text-align: center;
  color: aliceblue;
  min-width: 100vh;
}

h1{
  margin: 0% ;
}

.header {
  background-color: rgb(105, 161, 211);
  padding: 10px;
}

.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}

.movie{
  background-color: rgb(255, 249, 249);
  color: black;
  border: 1px solid green;
  padding: 3px;  
  font-weight: bold;
  text-align: start;
  width: 23%;
  margin-top: 14px;
}

.movie img {
  width: 100%;
}

